html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: arial;
}

header {
  padding: 20px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

header p {
  color: grey;
  border: 8px solid grey;
  padding: 5px 12px;
  display: inline-block;
  border-radius: 40px;
  font-size: 32px;
  margin: 4px;
  backdrop-filter: blur(10px);
}

.banner {
  position: relative;
}

.banner img {
  max-width: 100%;
}

.banner .Welcome {
  position: absolute;
  background-color: transparent;
  color: aliceblue;

  left: 50px;
  top: 5%;
}

.banner h1 {
  font-size: 50px;
}

.banner h1 span {
  font-size: 1.3em;
}

nav {
  background-color: #f4f4f4;
  padding: 20px;
  position: sticky;
  top: 90px;
}

nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

nav li {
  width: 25%;
  display: inline-block;
  font-size: 24px;
}

nav li a {
  text-decoration: none;
  color: #4b4b4b;
}

nav li a.join {
  color: grey;
}

main {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
}

article h2 {
  color: black;
  font-size: 40px;
  text-align: center;
}

article p {
  line-height: 2em;
  color: #4b4b4b;
}

.images {
  text-align: center;
  margin: 80px o;
  white-space: nowrap;
}

.images li {
  display: inline-block;
  width: 40%;
  margin: 20px 5%;
}

.images li img {
  max-width: 100%;
}

.joins {
  background-color: #4b4b4b;
  text-align: center;
  padding: 60px 20px;
  color: black;
}

.joins h2 {
  font-size: 36px;
}

form input {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 28px;
  border: 4px solid white;
}

footer {
  background: #f63232;
  color: white;
  padding: 10px;
  text-align: center;
}

nav li a:hover {
  text-decoration: underline;
  /* background-color: pink; */
}

.images li:hover {
  position: relative;
  top: -4px;
}

form input:focus {
  border: 4px dashed #4b4b4b;
  outline: none;
}

form input:valid {
  border: 4px solid green;
  background: rgb(106, 168, 106);
}

form input:invalid {
  border: 4px solid red;
  background: rgb(172, 74, 74);
}

article p::first-line {
  font-weight: bold;
  font-size: 1.2em;
}

@media screen and (max-width: 1400px) {
  .banner .Welcome h1 {
    font-size: 40px;
  }

  nav li {
    font-size: 18px;
  }
}

@media screen and (max-width: 1155px) {
  .banner .Welcome h1 {
    font-size: 30px;
  }

  header p {
    font-size: 20px;
    border: 6px solid grey;
  }
}

@media screen and (max-width: 700px) {
  .banner .Welcome h1 {
    font-size: 20px;
    text-align: center;
    padding: 10px;
  }

  .banner .Welcome {
    position: relative;
    background-color: #272626;
    left: 0;
  }

  .banner .Welcome br {
    display: none;
  }

  .banner .Welcome span {
    font-size: 1em;
  }

  .images li {
    width: 100%;
    margin: 20px auto;
    display: block;
  }
}

@media screen and (max-width: 560px) {
  .banner .Welcome h1 {
    font-size: 10px;
    position: relative;
  }

  nav {
    top: 0;
  }

  nav li {
    font-size: 20px;
    display: block !important;
    width: 100%;
    margin: 12px;
    top: 0;
  }

  header p {
    font-size: 10px;
    border: 2px solid grey;
    position: relative;
  }

  header {
    position: absolute;
  }
}
